
h3, h1, div, p, ul, li, h4, h5 {
  text-align: center;
}

body {
  background: #FADAD8;
  margin: 400px;
  background-size: cover;
  background-position: center;
  font-family: 'Roboto', sans-serif;
}
